<div class="fleet-selector-element">
    <span class="label"><b>{{label}}</b></span>
    {{x-select model=options valueKey=valueKey onSelect=(action "onSelect") value=value}}
    {{yield (hash
        selector=(component "fleet-selector-element" valueKey="id")
        items=children
    )}}
</div>
